# This file is used to set environment variables for the uav-vision-analytics application.

HOST_IP=

# DL Streamer Pipeline Server
DLSTREAMER_PIPELINE_SERVER_IMAGE=intel/dlstreamer-pipeline-server:2026.2.0-ubuntu24-rc1

# Webrtc related config
MTX_WEBRTCICESERVERS2_0_USERNAME=
MTX_WEBRTCICESERVERS2_0_PASSWORD=
